@media print {

  body {
    background: none;
  }

  header, section.tabs, section.inputButtons, section.inputData,
  section.crosswordButtons, div.topnav, section.printButtons, section + section:before,
  footer {
    display: none;
  }

  #crosswordWrapper {
    text-align: left
    margin-bottom: 1em;
  }

  #crosswordWrapper table.crossword {
    display: inline-block;
    position: relative;
  }

  section.clues {
    display: initial;
  }

}
