@media print {

  body {
    background: none;

  }

  header, section.tabs, section.inputButtons, section.inputData,
  section.crosswordButtons, div.topnav, section.printButtons, section + section:before,
  footer {
    display: none;
  }

   #crosswordWrapper {
    
   text-align: center;
    margin: auto;
  }

  #crosswordWrapper table.crossword {
	  text-align: center;
    display: inline-block;
    position: relative;
	   margin: 0 auto;
    max-width: 100%;
  } 

  section.clues {
	  text-align: center;
    display: initial;
	   margin: 0 auto;
    max-width: 100%;
  }

}
